.containerPadding {
  padding-top: var(--space-5);
  padding-right: var(--space-3);
  padding-left: var(--space-3);
}
.container {
  display: grid;
  grid-template-areas: "navigation" "first-block";
}

.navigation {
  grid-area: navigation;
}

.firstBlock {
  grid-area: first-block;
}

/* 테블릿 스타일 */
@media (min-width: 768px) {
  .containerPadding {
    padding-right: var(--space-8);
    padding-left: var(--space-8);
  }
}

/* 데스크톱 스타일 (1024px 이상) */
@media (min-width: 1024px) {
  .containerPadding {
    padding-right: var(--space-8);
    padding-left: var(--space-8);
  }
}
