.fullButton {
  display: inline-block;
  background-color: var(--color-accent);
  color: black;
  padding: 20px 28px;
  border: none;
  border-radius: 12px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 14px;
  font-style: bold;
}
