.navigation {
  display: flex;
  justify-content: space-between;
  height: 47px;
}

.navigationRight {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  gap: var(--space-3); /* 버튼과 아이콘 사이 간격 */
}

.navigationCenter {
  display: none;
  align-items: center; /* 세로 중앙 정렬 */
  gap: var(--space-3); /* 버튼과 아이콘 사이 간격 */
  height: 100%;
}

/* 데스크톱 스타일 (1024px 이상) */
@media (min-width: 1024px) {
  .navigationCenter {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    gap: 28px; /* 버튼과 아이콘 사이 간격 */
    height: 100%;
  }

  .menuBtn {
    display: none;
  }
}
